html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html, body, div#root {
  height: 100%;
}
